<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Noto+Sans+JP:wght@400;600;700&family=Orbitron:wght@600&display=swap" rel="stylesheet">


<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$','$'], ['\\(','\\)']],   /* $...$ を追加 */
      displayMath: [['$$','$$'], ['\\[','\\]']],  /* $$...$$ を追加 */
      processEscapes: false,
      packages: {'[+]': ['ams','bm']},
      tags: 'ams',
    },
    loader: { load: ['[tex]/ams','[tex]/bm'] },
    options: { skipHtmlTags: ['script','noscript','style','textarea','pre','code'] }
  };
</script>
<script async id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>